@model QuanLyTrungTam.ViewModels.HocVienDetailsViewModels
@using Models.Framework
@using Models.DAO
@{
    ViewBag.Title = "ChiTietHocVien";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int id = ViewBag.MaHocVien;

    IEnumerable<PhuHuynh> list = new PhuHuynhDao().getTwoElementPH(id);
}

<h2>ChiTietHocVien</h2>

<div>
    <h4>HocVienDetailsViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHocVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHocVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHVDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHVDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nguon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguon)
        </dd>

    </dl>
</div>
@foreach(var item in list)
{
    <h3>@item.MaPhuHuynh</h3>
    <h3>@item.TenPhuHuynh</h3>
    <h3>@item.GioiTinh</h3>
    <h3>@item.SDT</h3>
    <h3>@item.DiaChi</h3>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHocVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
