@model QuanLyTrungTam.Models.ChiTietHocVienModel

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var date = DateTime.Now.Year;
}

<div class="modal-header bg-olive">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="font-size:25px; color:black">Chi tiết Học Viên</h4>
</div>

<div class="modal-body form-horizontal">
    <div class="container" margin-top: 20px">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 10px">
                <div class="col-md-3">
                    <h3>Ảnh giáo viên</h3>
                </div>
                <img class="profile-user-img img-responsive col-md-9" style="width:150px;height:auto" alt="User profile picture" src="~/Img/HocVien/@Model.HocVien.HinhAnh" />
            </div>
        </div>

        <div class="row">
            @*<div class="col-md-3" style="margin-bottom: 10px">
                    <div>
                        <h3>Ảnh giáo viên</h3>
                    </div>
                    <img class="profile-user-img img-responsive" style="width:200px;height:auto" alt="User profile picture" src="~/Img/GiaoVien/@Model.HinhAnh" />
                </div>*@
            <div class="col-md-12">
                <h3>Thông tin giáo viên</h3>
                <div class="col-md-4">
                    <h3 style="color:dodgerblue">Tên giáo viên : @Model.HocVien.TenHocVien</h3>
                    <h4>Giới tính : @Model.HocVien.GioiTinh</h4>
                    <h4>Ngày sinh : @Model.HocVien.NgaySinh</h4>
                    <h4>Tham gia vào : @Model.HocVien.NgayDangKy</h4>
                    <h4>Số điện thoại : @Model.HocVien.SDT</h4>
                </div>
                <div class="col-md-8">
                    <h4>Mức lương : @Model.HocVien.SDT</h4>
                    <h4>Email : @Model.HocVien.</h4>
                    <h4>Địa chỉ cư trú : </h4>
                    <h4>Quốc tịch :</h4>
                    <h4>Trạng thái : @(Model.HocVien.TrangThai.GetValueOrDefault(false)? "Đang hoạt động" : "Đã nghỉ")</h4>
                    <h4>Tuổi hiện tại :  @(date - ((DateTime)Model.HocVien.NgaySinh).Year)</h4>
                </div>
                <div class="col-md-12">
                    <h4>Ghi chú : @Model.HocVien.GhiChu</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <p>
            @*<a href="~/GiaoVien/Edit/@Model.MaGiaoVien" class="btn btn-success">Sửa thông tin</a>*@
            <a href="~/HocVien/Index" class="btn btn-default">Quay lại</a>
        </p>
    </div>
</div>
