@model PagedList.IPagedList<Models.Framework.LopHoc>

@using PagedList.Mvc;

@{
    ViewBag.Title = "testSearchByStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h2 no-margin-bottom">Mục Quản Lý Lớp Học</h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">Lớp học</li>
        </ul>
    </div>
    <div class="container" style="display:flex">
        @using (Html.BeginForm("Index", "LopHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm theo tên" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("testSearchByStartDate", "LopHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringStartDate" name="searchStringStartDate" placeholder="Tìm kiếm theo ngày bắt đầu" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("testSearchByEndDate", "LopHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringEndDate" name="searchStringEndDate" placeholder="Tìm kiếm theo ngày kết thúc" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }

    </div>
    <br />
    <div class="container" style="display:flex">
        @using (Html.BeginForm("testSearchByStatus", "LopHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringStatus" name="searchStringStatus" placeholder="Tìm kiếm theo trạng thái " />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }

    </div>
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block margin-bottom-sm">
                        <br />
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên Lớp Học</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th>Trạng thái</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.MaLopHoc">
                                            <td>@item.MaLopHoc</td>
                                            <td>@item.TenLopHoc</td>
                                            <td>@item.NgayBatDau</td>
                                            <td>@item.NgayKetThuc</td>
                                            <td>@(item.TinhTrang.GetValueOrDefault(false)? "Hoạt động" : "Khóa")</td>
                                            <td>
                                                <a href="/LopHoc/Edit/@item.MaLopHoc">Sửa&nbsp;</a>
                                                <a href="/LopHoc/Details/@item.MaLopHoc">Chi tiết &nbsp;</a>
                                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaLopHoc }, new AjaxOptions
                                                {
                                                    Confirm = "Bạn có muốn xóa lớp học này",
                                                    OnComplete = "$('#row_" + item.MaLopHoc + "').remove()",
                                                    HttpMethod = "Delete"
                                                })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchStringStatus = ViewBag.SearchStringStatus }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


