@model IEnumerable<Models.Framework.KhoaHoc>

@{
    ViewBag.Title = "GetCourseByTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:50px">
    <div class="col-md-6">
        <h2>Giáo viên : @ViewBag.TenGiaoVien </h2>
    </div>
    <div class="col-md-6">
        <h3>Lương hằng tháng : @ViewBag.LuongHangThang</h3>
    </div>
   
    <h3>Danh sách khóa học giáo viên chịu trách nhiệm</h3>
</div>



<table class="table table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DanhMucKhoaHoc.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhoaHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.SoTuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuaTuoiPhuHop)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMucKhoaHoc.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>*@
            @if (item.TinhTrang == true)
            {
                <td>
                    <h5 class="text-success" style="margin-top:-5px">Đang hoạt động</h5>
                </td>
            }
            else
            {
                <td>
                    <h5 class="text-danger" style="margin-top:-5px">Ngừng hoạt động</h5>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.SoTuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuaTuoiPhuHop)
            </td>
        </tr>
    }

</table>
<div class="col-md-1">
    <a class="btn btn-danger" href="/GiaoVien/Index">Quay lại</a>
</div>


