@model PagedList.IPagedList<Models.Framework.GiaoVien>

@using PagedList.Mvc;

@{
    ViewBag.Title = "testSearchBySalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h2 no-margin-bottom" style="color: black">Danh Sách Giáo Viên</h2>
            <a class="btn btn-info" href="@Url.Action("ExportToExcel","GiaoVien")">Xuất File</a>
            <div class="modal fade" id="modal-themMoi">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">Giáo viên</li>
        </ul>
    </div>

    <div class="container">
        <div class="container">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TongGiaoVien</div>
                                <div>Tổng số giáo viên</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.NhanVienNam</div>
                                <div>Số lượng giáo viên nam</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> @ViewBag.NhanVienNu</div>
                                <div>Số lượng nhân viên nữ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@ViewBag.TongTienLuong</div>
                                        @*<div class="huge">@QuanLyTrungTam.Common.Format.FormatCurrencyVND(ViewBag.TongTienLuong)</div>*@
                                        <div>Tổng tiền lương</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container" style=" display: flex">
        @using (Html.BeginForm("Index", "GiaoVien", FormMethod.Get))
        {
            <div class="row ">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm theo tên" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("testSearchByGender", "GiaoVien", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringByGender" name="searchStringGender" placeholder="Tìm kiếm theo giới tính" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
                <br />
            </div>
        }

        @using (Html.BeginForm("testSearchByAddress", "GiaoVien", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringByAddress" name="searchStringAddress" placeholder="Tìm kiếm theo địa chỉ" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
    <br />
    <div class="container" style=" display: flex">
        @using (Html.BeginForm("testSearchBySalary", "GiaoVien", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringBySalary" name="searchSalary" placeholder="Tìm kiếm theo lương" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
    <br /><br />
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block margin-bottom-sm">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Mã giáo viên</th>
                                        <th>Tên Giáo Viên</th>
                                        <th>Hình ảnh</th>
                                        <th>Mức lương</th>
                                        <th>Giới Tính</th>
                                        <th>Ngày sinh</th>
                                        <th>Email</th>
                                        <th>SĐT</th>
                                        <th>Trạng thái</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.MaGiaoVien">
                                            <td>@item.MaGiaoVien</td>
                                            <td>@item.TenGiaoVien</td>
                                            <td>
                                                <img src="~/Img/GiaoVien/@item.HinhAnh" width="80" height="auto" />
                                            </td>
                                            <td>@item.MucLuong</td>
                                            <td>@item.GioiTinh</td>
                                            <td>@item.NgaySinh</td>
                                            <td>@item.Email</td>
                                            <td>@item.SDT</td>
                                            <td>@(item.TrangThai.GetValueOrDefault(false)? "Hoạt động" : "Khóa")</td>
                                            <td>
                                                <a href="/GiaoVien/Edit/@item.MaGiaoVien">Sửa &nbsp;</a>
                                                <a href="/GiaoVien/Details/@item.MaGiaoVien">Chi tiết &nbsp;</a>
                                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaGiaoVien }, new AjaxOptions
                                                {
                                                    Confirm = "Xóa bản ghi giáo viên",
                                                    OnComplete = "$('#row_" + item.MaGiaoVien + "').remove()",
                                                    HttpMethod = "Delete"
                                                })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchSalary = @ViewBag.SearchStringBySalary }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




