@model Models.Framework.HoaDon

@{
    ViewBag.Title = "Create";
    Layout = null;

    //Models.DAO.LopHocDao lopHocDao = new Models.DAO.LopHocDao();
    //var listLopHoc = lopHocDao.ListAll();

    //Models.DAO.KhoaHocDao khoaHocDao = new Models.DAO.KhoaHocDao();
    //var listKhoaHoc = khoaHocDao.ListAll();

    //Models.DAO.HocVienDao hocVienDao = new Models.DAO.HocVienDao();
    //var listHocVien = hocVienDao.ListAll();

}


@using (Html.BeginForm("Create", "HoaDon", FormMethod.Post))
{   <div class="modal-header bg-olive">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" style="font-size:25px">Tạo hóa đơn</h4>
    </div>

    <div class="modal-body form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayLap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DisplayFor(model => model.NgayLap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })*@
                <div><span id="hour">00</span>: <span id="minute">00</span>: <span id="second">00</span>  Thứ : <span id="day">00</span> : Ngày <span id="month">: Tháng </span>: Năm <span id="year">0000</span> </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.RadioButtonFor(model => model.TinhTrang, true, new { required = "required" }) Đã thanh toán
                    @Html.RadioButtonFor(model => model.TinhTrang, false) Chưa thanh toán
                    @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKhoaHoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaKhoaHoc, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaKhoaHoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaHocVien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaHocVien, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaHocVien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLopHoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaLopHoc, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaLopHoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.GhiChu,10,96, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="modal-footer">
            <div class="col-md-1" style="margin-left:600px;margin-right:30px">
                <button type="submit" value="Create" class="btn bg-olive btn-success">Thêm Mới</button>
            </div>
            <div class="col-md-1">
                <a href="/HoaDon/Index" class="btn btn-danger">Hủy bỏ</a>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function clock() {
        var hours = document.getElementById('hour');
        var minutes = document.getElementById('minute');
        var seconds = document.getElementById('second');
        var days = document.getElementById('day');
        var months = document.getElementById('month');
        var years = document.getElementById('year');

        var h = new Date().getHours();
        var m = new Date().getMinutes();
        var s = new Date().getSeconds();
        var d = new Date().getDate();
        var mo = new Date().getMonth() + 1;
        var y = new Date().getFullYear();

        hours.innerHTML = h;
        minutes.innerHTML = m;
        seconds.innerHTML = s;
        days.innerHTML = d;
        months.innerHTML = mo;
        years.innerHTML = y;
    }
    var internal = setInterval(clock, 1000);
</script>