@model  PagedList.IPagedList<Models.Framework.KhoaHoc>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Danh Sách Khóa học</h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Khóa học</li>
        </ul>
    </div>
    @using (Html.BeginForm("Index", "KhoaHoc", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.SearchString" name="searchString" />
                </div>
                <div class="col-md-4">
                    <button type="submit">Tìm kiếm</button>
                </div>
            </div>
        </div>
    }
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block margin-bottom-sm">
                        <div class="title"><strong>Basic Table</strong></div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT </th>
                                        <th>Tên Khóa Học th>
                                        <th>Số Tuần </th>
                                        <th>Đối tượng </th>
                                        <th>Mô Tả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.MaKhoaHoc">
                                            <td>@item.MaKhoaHoc</td>
                                            <td>@item.TenKhoaHoc</td>
                                            <td>@item.SoTuan</td>
                                            <td>@item.LuaTuoiPhuHop</td>
                                            <td>@item.MoTa</td>
                                            @*<td>@(item.TrangThai.GetValueOrDefault(false)? "Hoạt động" : "Khóa")</td>*@
                                            <td>
                                                <a href="/GiaoVien/Edit/@item.MaKhoaHoc">Sửa</a>
                                                <a href="/GiaoVien/Details/@item.MaKhoaHoc">Chi tiết</a>
                                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaKhoaHoc }, new AjaxOptions
                                                {
                                                    Confirm = "Bạn có muốn xóa khóa học này",
                                                    OnComplete = "$('#row_" + item.MaKhoaHoc + "').remove()",
                                                    HttpMethod = "Delete"
                                                });
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
