@*@model PagedList.IPagedList<Models.Framework.KhoaHoc>*@
@model PagedList.IPagedList<Models.Framework.KhoaHoc>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Danh Sách Khóa học</h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">Khóa học</li>
        </ul>
    </div>
    @using (Html.BeginForm("Index", "KhoaHoc", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.SearchString" name="searchString" />
                </div>
                <div class="col-md-4">
                    <button type="submit">Tìm kiếm</button>
                </div>
            </div>
        </div>
    }



<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="block margin-bottom-sm">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã Khóa Học</th>
                                    <th>Tên Khóa Học</th>

                                    <th>Số Tuần</th>
                                    <th>Lứa tuổi</th>
                                    <th>Mô tả</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.MaKhoaHoc">
                                        <td>@item.MaKhoaHoc</td>
                                        <td>@item.TenKhoaHoc</td>
                                        <td>@item.SoTuan</td>
                                        <td>@item.LuaTuoiPhuHop</td>
                                        <td>@item.MoTa</td>
                                        <td>
                                            <a href="/KhoaHoc/Edit/@item.MaKhoaHoc" @*data-toggle="modal" data-target="#modal-update-@item.MaGiaoVien" data-backdrop="static" data-keyboard="false"*@>Sửa</a>

                                            &nbsp;<a href="/KhoaHoc/Details/@item.MaKhoaHoc" @*data-toggle="modal" data-target="#modal-details-@item.MaGiaoVien" data-backdrop="static" data-keyboard="false"*@>Chi tiết &nbsp;</a>@Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaKhoaHoc }, new AjaxOptions
                                            {
                                            Confirm = "Bạn có muốn xóa khóa học này",
                                            OnComplete = "$('#row_" + item.MaKhoaHoc + "').remove()",
                                            HttpMethod = "Delete"
                                            })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


