@*@model PagedList.IPagedList<Models.Framework.KhoaHoc>*@
@model PagedList.IPagedList<Models.Framework.KhoaHoc>
@using PagedList.Mvc;
@using Models.DAO;

@{
    ViewBag.Title = "testSearchByOld";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Models.DAO.DanhMucKhoaHocDao danhMucDao = new Models.DAO.DanhMucKhoaHocDao();
    var list = danhMucDao.ListAll();
}

<head>


</head>

<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h2 no-margin-bottom">Mục Quản Lý Khóa học</h2>
        </div>
    </div>
    <br />
    <a class="btn btn-success" href="@Url.Action("CreateCatagoryCourse","KhoaHoc")" data-toggle="modal" data-target="#modal-themMoiDMKH" data-backdrop="static" data-keyboard="false">Thêm khóa học</a>
    <div class="modal fade" id="modal-themMoiDMKH">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="@Url.Action("TaoMoiVaSuaDanhMuc","KhoaHoc")" data-toggle="modal" data-target="#modal-themMoi" data-backdrop="static" data-keyboard="false">Thêm danh mục khóa học</a>
    <div class="modal fade" id="modal-themMoi">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Modal -->

    <br />
    <br />
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Khóa học</li>
        </ul>
    </div>
    <div class="container">
        <div class="container">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TongKhoaHoc</div>
                                <div>Tổng số khóa học</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.KhoaHocConCho</div>
                                <div>Khóa học còn chỗ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.KhoaHocHetCho</div>
                                <div>Khóa học hết chỗ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style=" display: flex">
        @using (Html.BeginForm("Index", "KhoaHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm theo tên" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("testSearchByMoney", "KhoaHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringByMoney" name="searchStringMoney" placeholder="Tìm kiếm theo số tiền" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("testSearchByOld", "KhoaHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringByOld" name="searchStringOld" placeholder="Tìm kiếm theo tuổi" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <div class="container" style=" display: flex">
        @using (Html.BeginForm("testSearchByQuatity", "KhoaHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringByQuatity" name="searchStringQuatity" placeholder="Tìm kiếm theo số lượng" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("testSearchByStatus", "KhoaHoc", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <input type="text" style="height:30px" value="@ViewBag.SearchStringByStatus" name="searchStringStatus" placeholder="Tìm kiếm theo trạng thái" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline btn-primary btn-sm" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block margin-bottom-sm">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã Khóa Học</th>
                                        <th>Tên Khóa Học</th>

                                        <th>Số Tuần</th>
                                        <th>Lứa tuổi</th>
                                        <th>Mô tả</th>
                                        <th>Số lượng </th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.TinhTrang == true)
                                        {
                                            <tr id="row_@item.MaKhoaHoc">
                                                <td>@item.MaKhoaHoc</td>
                                                <td>@item.TenKhoaHoc</td>
                                                <td>@item.SoTuan</td>
                                                <td>@item.LuaTuoiPhuHop</td>
                                                <td>@item.MoTa</td>
                                                <td>@item.SoLuong</td>
                                                <td>
                                                    <a class="text-center btn btn-primary" href="/GiaoVien/Edit/@item.MaGiaoVien"
                                                       data-toggle="modal" data-target="#modal-capNhat-@item.MaGiaoVien"
                                                       data-backdrop="static" data-keyboard="false">Sửa &nbsp;</a>
                                                    <div class="modal fade" id="modal-capNhat-@item.MaGiaoVien">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <a href="/KhoaHoc/Details/@item.MaKhoaHoc" class="btn btn-primary" @*data-toggle="modal" data-target="#modal-details-@item.MaGiaoVien" data-backdrop="static" data-keyboard="false"*@>Chi tiết</a>
                                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaKhoaHoc }, new AjaxOptions
                                                    {
                                                    Confirm = "Bạn có muốn xóa khóa học này",
                                                    OnComplete = "$('#row_" + item.MaKhoaHoc + "').remove()",
                                                    HttpMethod = "Delete"
                                                    }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchStringByOle = @ViewBag.SearchStringByOld }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="block margin-bottom-sm">
            <div class="table-responsive">
                @*<a class="btn  btn-default" onclick="PopupForm('@Url.Action("TaoMoiVaSuaDanhMuc","KhoaHoc")')"> Thêm</a>*@

                @*<div class="modal fade" id="CatagoryModel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h4 id="ModalAddTitle"></h4>
                            </div>
                            <div class="modal-body">
                                <form id="form">
                                    <fieldset id="SubmitForm">

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>*@


                <a class="btn btn-success" href="@Url.Action("TaoMoiVaSuaDanhMuc","KhoaHoc")" data-toggle="modal" data-target="#modal-themMoi" data-backdrop="static" data-keyboard="false">Thêm khóa học</a>
                <div class="modal fade" id="modal-themMoi">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>


                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th class="h3">STT</th>
                            <th class="h3">Danh mục khóa học cha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                            <tr>
                                <td> @item.MaDanhMuc</td>
                                <td style="color: green">@item.TenDanhMuc</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>




@*<script type="text/javascript">
        var Popup;

        $(document).ready(function (){

            function PopupForm(url) {
                var formDiv = $('<div/>');
                $.get(url)
                    .done(function (response) {
                        formDiv.html(response);

                        Popup = formDiv.dialog({
                            autoOpen: true,
                            resizable: false,
                            title: 'Thêm nhân viên',
                            height: 600,
                            width: 700,
                            close: function () {
                                Popup.dialog('destroy').remove();
                            }
                        });

                    });
            }
        })


    </script>*@
